{
displayStrings = (
"/g_dha-beng/g_dh_ba-beng/d_dh_ba-beng 
/d_da-beng/d_d_ra-beng/d_d_ba-beng দ/d_ra-beng 
/ss_pa-beng/iMatra-beng.wide3/ss_p_ra-beng/iMatra-beng.wide3/s_p_ra-beng 

/iMatra-beng.wide2/s_ma-beng/iMatra-beng.wide1/s_ra-beng  /ddNukta_ga-beng  /iMatra-beng.wide1/h_ma-beng  /iMatra-beng.wide2/ss_pha-beng/sh_ra-beng/iMatra-beng.wide1/s_k_ra-beng/l_ma-beng/iMatra-beng.wide2/l_ra-beng/iMatra-beng.wide3/l_da-beng/l_d_ra-beng/l_ta-beng/l_dda-beng/l_dd_ra-beng  /l_tt_ra-beng/iMatra-beng.wide1/y_ra-beng  /iMatra-beng.wide4  /m_sa-beng  /m_ra-beng/m_da-beng/iMatra-beng.wide2/s_kha-beng 
/iMatra-beng.short/ss_ttha-beng/n_da-beng/n_d_ra-beng/n_d_ba-beng  /n_dh_ra-beng/m_b_ra-beng/ss_ttha-beng/ss_pha-beng/ss_ra-beng/yNukta_ra-beng/s_ra-beng/s_t_ra-beng/s_t_ba-beng/ss_ka-beng/l_ga-beng/b_ra-beng/b_bha-beng/b_d_ra-beng/n_ma-beng/n_ta-beng/n_t_ba-beng/t_t_ra-beng/c_ch_ba-beng/c_cha-beng/iMatra-beng.wide2/ng_ma-beng/ng_ka-beng/iMatra-beng.wide1/ng_k_ra-beng/k_ra-beng/k_ta-beng ল/s_ph_ra-beng/s_na-beng 
"
);
}
