{
displayStrings = (
"/b-beng/bh-beng/bh-beng.nukt/c-beng/c-beng.nukt/ch-beng/ch-beng.nukt/d-beng.nukt/dd-beng.nukt/ddh-beng.nukt/dh-beng/dh-beng.nukt/g-beng/g-beng.nukt/gh-beng/gh-beng.nukt/h-beng/h-beng.nukt/j-beng/j-beng.nukt/jh-beng/jh-beng.nukt/k-beng.nukt/kh-beng/kh-beng.nukt/l-beng/l-beng.nukt/m-beng.nukt/n-beng/n-beng.nukt/ng-beng.nukt/nn-beng/nn-beng.nukt/ny-beng/ny-beng.nukt/p-beng/p-beng.nukt/ph-beng/ph-beng.nukt/r-beng/ralowerdiagonalhalf-beng/ralowerdiagonalhalf-beng.nukt/ramiddlediagonalhalf-beng/ramiddlediagonalhalf-beng.nukt/s-beng.nukt/sh-beng/sh-beng.nukt/ss-beng/ss-beng.nukt/t-beng/t-beng.nukt/th-beng/th-beng.nukt/tt-beng.nukt/tth-beng/tth-beng.nukt/y-beng/y-beng.nukt"
);
}
